/*.*~
/DinaWebMaven/*.*~
/DinaWebMaven/db/*.*~
/DinaWebMaven/docs/*.*~
/DinaWebMaven/libs/*.*~
/DinaWebMaven/target/
/DinaWebMaven/.settings/
/DinaWebMaven/.project

/DinaWebMaven/DinaeWebMaven-ear/*.*~
/DinaWebMaven/DinaeWebMaven-ear/target/
/DinaWebMaven/DinaeWebMaven-ear/nb-configuration.xml
/DinaWebMaven/DinaeWebMaven-ear/.project
/DinaWebMaven/DinaeWebMaven-ear/.settings/

/DinaWebMaven/DinaeWebMaven-ejb/*.*~
/DinaWebMaven/DinaeWebMaven-ejb/target/
/DinaWebMaven/DinaeWebMaven-ejb/nb-configuration.xml
/DinaWebMaven/DinaeWebMaven-ejb/.project
/DinaWebMaven/DinaeWebMaven-ejb/.settings/
/DinaWebMaven/DinaeWebMaven-ejb/.classpath

/DinaWebMaven/DinaeWebMaven-web/*.*~
/DinaWebMaven/DinaeWebMaven-web/target/
/DinaWebMaven/DinaeWebMaven-web/nb-configuration.xml
/DinaWebMaven/DinaeWebMaven-web/faces-config.NavData
/DinaWebMaven/DinaeWebMaven-web/.settings/
/DinaWebMaven/DinaeWebMaven-web/.classpath
/DinaWebMaven/DinaeWebMaven-web/.metadata/
/DinaWebMaven/DinaeWebMaven-web/.project
